<div class="card rounded-0 mt-5 px-5 mb-5">
    <div class="card-body">
        <div class="text-center mx-5 mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">"Subscribe now to stay updated with the latest posts, ideas, and insights! No
                spam, just quality content delivered straight to your inbox.</p>

            <form action="" class="form-inline mb-4 mt-4 row">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-info btn-sub">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>