<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci delectus amet
                illo quos excepturi animi perspiciatis tempora nisi eius nemo dignissimos voluptas inventore veritatis
                eum ab, blanditiis nulla assumenda rerum!</p>

                <form action="" class="form-inline mb-5 mt-5 row">
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                    </div>
                    <div class="form-group col-md-5">
                        <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info btn-sub">SUBSCRIBE</button>
                    </div>
                </form>
        </div>
    </div>
</div>