<div class="card mb-5 mt-5 pb-5">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments(1,762)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Habeebr Rahman</h6>
      <small class="text-danger">Last Update - Nov 24 2024</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        consequuntur natus molestias perspiciatis porro quo quasi eius dolor non
        veritatis aperiam, minima distinctio. Placeat, aperiam nulla voluptas
        consequuntur eum autem!
      </div>
      <a class="mt-1 text-decoration-none">Reply</a>
      <a class="mt-1 ms-3 text-decoration-none">View Reply</a>

      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Habeebr Rahman</h6>
      <small class="text-danger">Last Update - Nov 24 2024</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        consequuntur natus molestias perspiciatis porro quo quasi eius dolor non
        veritatis aperiam, minima distinctio. Placeat, aperiam nulla voluptas
        consequuntur eum autem!
      </div>
      <a class="mt-1 text-decoration-none">Reply</a>
      <a class="mt-1 ms-3 text-decoration-none">View Reply</a>

      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Habeebr Rahman</h6>
      <small class="text-danger">Last Update - Nov 24 2024</small>
      <div class="mt-3 mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        consequuntur natus molestias perspiciatis porro quo quasi eius dolor non
        veritatis aperiam, minima distinctio. Placeat, aperiam nulla voluptas
        consequuntur eum autem!
      </div>
      <a class="mt-1 text-decoration-none">Reply</a>
      <a class="mt-1 ms-3 text-decoration-none">View Reply</a>

      <hr />
    </div>
  </div>
</div>
