<section class="mt-5">
    <div class="container mt-5 mb-5 p-5">
      <h1 class="text-center text-uppercase">Terms and Conditions</h1>
      <div class="p-5 mt-5 bg-white text-dark">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus
          praesentium qui eos soluta nisi fuga sit perferendis deleniti architecto
          eum id veritatis voluptatem aut officia modi, voluptatibus consectetur
          mollitia.
        </p>
        <div class="text-center">
          <button class="btn btn-info btn-bth btn-sm mt-4">Back to Home</button>
        </div>
  
      </div>
    </div>
  </section>
  