<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img
          class="card-img-top img-fluid"
          src="https://images.pexels.com/photos/15465459/pexels-photo-15465459/free-photo-of-old-international-dump-truck-in-winter.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ms-2">Featured</small>
          <small class="bg-light text-info text-center ms-2"
            >Views - 100,23</small
          >
          <small class="bg-light text-warning text-center ms-2"
            >Last update - Nov 22 2024</small
          >

          <h1 class="mt-3 mb-3">Post name</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fugit
            ad nostrum odit ab quas deserunt neque quibusdam ex pariatur non est
            suscipit. Eos, perferendis repellat aliquid facilis odit
            ducimus?Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ipsam dolore ullam autem quos voluptatibus fugit labore ratione
            laudantium nisi sint in, veritatis reiciendis suscipit voluptas
            neque quaerat animi! Dicta!Lorem Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Qui consequatur iure nam obcaecati, ab
            facilis, repellendus necessitatibus omnis doloremque in minus!
            Corrupti facere explicabo quam asperiores laborum sunt, nostrum eos?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
